@import "facade/variables.less";
@import "facade/init.less";
@import "facade/button.less";
@import "facade/form.less";
@import "facade/notice.less";
@import "facade/bar.less";
@import "facade/accordion.less";
@import "facade/modal.less";
@import "facade/tooltip.less";
@import "facade/dropdown.less";
@import "facade/panel.less";	
@import "facade/switch.less";
@import "facade/table.less";
@import "facade/popover.less";
@import "facade/drawer.less";
@import "facade/badge.less";
@import "facade/tabs.less";
@import "facade/checkbox.less";
@import "facade/datepicker.less";
@import "facade/selectlist.less";
@import "facade/navlist.less";
@import "facade/login.less";
@import "facade/pager.less";

@main-nav-bg : #2f87c1;

.main-nav {
	.bar {
		background: @main-nav-bg;
		.border-less;
		.margin-less;
		.square-edge;
		.bar-menu {
			li {
				a {
					display         : inline-block;
					padding         : 7px 15px;
					text-decoration : none;
					font-weight     : bold;
					color           : #c3deef;
					text-shadow : 1px 1px 0px darken(@main-nav-bg, 5%);
				}
				a:hover {
					background : @color-inverse;
					color      : @color-light;
				}
			}
			li.active > a {
				background: darken(@main-nav-bg, 5%);
			}
			li > a:hover {
				background: lighten(@main-nav-bg, 5%);				
			}
			li.active > a {
				box-shadow: none;
				color: @color-light;
			}
			li.active a:hover {
				background: darken(@main-nav-bg, 10%);
			}
		}		
	}
	.drawer {
		.border-less;
		.margin-less;
		.square-edge;
		border-bottom: 1px solid #c8d0de !important;
		.drawer-title {
			background: #dfe4ee;
			color: lighten(@color-default, 10%);
		}
		.drawer-title.open {
			border-bottom: 1px solid #c8d0de !important;
		}
	}
}