@import "facade/variables.less";
@import "facade/init.less";
@import "facade/button.less";
@import "facade/form.less";
@import "facade/notice.less";
@import "facade/bar.less";
@import "facade/accordion.less";
@import "facade/modal.less";
@import "facade/tooltip.less";
@import "facade/dropdown.less";
@import "facade/panel.less";	
@import "facade/switch.less";
@import "facade/table.less";
@import "facade/popover.less";
@import "facade/drawer.less";
@import "facade/badge.less";

// Widgets
// -- Accordion			-> Done
// -- Menu				-> Done (See  Drodpown.js)
// -- Modal				-> Done
// -- Tooltip			-> Done
// -- Popover			-> Done (See  Drodpown.js)
// -- Panel				-> Done
// -- Menu List			-> Not Started
// -- DatePicker		-> Not Started
// -- TimePicker		-> Not Started
// -- Responsive Menu	-> Not Started
// -- Select			-> Done (see vendor/selectize)
// -- Split Button		-> Done
// -- Switch Button		-> Done
// -- Checkbox Button 	-> Not Started
// -- Drawer            -> Done 
// -- Tabs              -> Done 


[data-widget~=selectize] {
	display: inline-block;
	width: 250px;
}

[data-widget=popover],
[data-widget=dropdown] {
	display: inline-block;
	position: relative;
}