.accordion-widget {
	
	.fill(@color-light);
	.margin(@widget-margin);
	.border(1px solid @color-border);
	.radius(@border-radius);
	
	.accordion-item > a {
		.bt(1px solid lighten(@color-border, 10%));
		.block;
		.text(lighten(@color-default, 10%));
		.padding(10px 15px);
		.position(relative);
		.clean-link;
	}
	.accordion-item > .accordion-body {
		.hidden;
		.padding(15px 25px);
		line-height   : 1.5;
	}
	.accordion-item:last-child > a {
		.radius(0 0 @border-radius @border-radius);
	}

	.accordion-item > a:hover {
		.text(@color-primary);
		.position(relative);
	}

	.accordion-item > a:after,
	.accordion-item > a:hover:after {
		.position(absolute);
		.inline-block;
		right       : 15px;
		top         : 10px;
		font-family : Fontawesome;
		content     : '\f107';

	}

	.accordion-item > a[data-accordion-mode=open] {
		.bb(1px solid lighten(@color-border, 10%));
		.text(@color-primary);
		.position(relative);
	}

	.accordion-item > a[data-accordion-mode=open]:after { 
		.position(absolute);
		.inline-block;
		right       : 15px;
		top         : 10px;
		font-family : Fontawesome;
		content     : '\f106';
	}

	.accordion-item:first-child > a {
		.bt(0);
		.radius(@border-radius @border-radius 0 0);
	}

	.accordion-item:last-child {
		.accordion-body {
			.radius(0 0 @border-radius @border-radius);
		}
		a[data-accordion-mode=open] {
			.radius(0);
		}
	}
}