
.bar {

	.fill(darken(@color-light, 2%));
	.border(1px solid @color-border);
	.radius(@border-radius);
	.margin(0 0 1.5em 0);
	.padding(10px);
	.relative;

	.bar-menu {

		.pull-left;
		.inline-block;
		.clean-list;

		li {
			.pull-left;
			.inline-block;
			.margin(0 5px 0 0);
			a {
				.inline-block;
				.clean-link;
				.padding(7px 15px);
				.text(lighten(@color-primary, 10%));
			}
			a:hover {
				.fill(darken(@color-light, 10%));
				.text(@color-inverse);
				.radius(@border-radius);				
			}
		}
		li.active > a {
			.fill(@color-info);
			.text(@color-light, 1px 1px 0px rgba(0, 0, 0, 0.25));
			.text-bold;
			.radius(@border-radius);
			.shadow(inset 0px 1px 1px -1px, rgba(0, 0, 0, 0.25));
		}
	}
}

/* Micro Clearfix via CSS-Tricks */
.bar:before,
.bar:after {
    content: "";
    display: table;
} 
.bar:after {
    clear: both;
}
.bar {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}