@button-padding     : 6px 15px;

.text(@color, @shadow) {
	color       : @color;
	text-shadow : @shadow;
}

.border(@thickness, @color, @radius) {
	border        : @thickness solid @color;
	border-radius : @radius;
}

.button_default_properties {
	display         : inline-block !important;
	*zoom           : 1; /* trigger hasLayout for IE7 and below */
	*display        : inline; /* the star targets only IE7 and below */	
	text-decoration : none;
	user-select     : none;
	cursor          : pointer;
	font            : @font-size;
	padding         : @button-padding;
	outline         : none;
	i[class^=fa] {
		color          : @color-secondary;
		font-size      : 14px;
		pointer-events : none;
	}		
}


.button(@background, @color, @border, @shadow) {
	.box-sizing;
	.text(@color, @shadow);
	.border(1px, @border, @border-radius);
	background: @background;
}

.button_hover(@background, @border) {
	.border(1px, darken(@border, 5%), @border-radius);
	background: lighten(@background, 5%);
}

.button_clicked(@background, @border) {
	.border(1px, darken(@border, 20%), @border-radius);
	background: darken(@background, 5%);
}


@button-default-bg     : @color-light;
@button-default-color  : @color-default;
@button-default-border : @color-border;
@button-default-shadow : none; 

a[role=button], button, input[type=submit], input[type=reset] {
	.button_default_properties;
	.button(@button-default-bg, @button-default-color, @button-default-border, @button-default-shadow);	
}

a[role=button]:hover, button:hover, input[type=submit]:hover, input[type=reset]:hover {
	.button_hover(@button-default-bg, @button-default-border);
}

a[role=button]:active, button:active, input[type=submit]:active, input[type=reset]:active {
	.button_hover(@button-default-bg, @button-default-border);
}



@button-primary-bg     : @color-primary;
@button-primary-color  : @color-light;
@button-primary-border : darken(@color-primary, 5%);
@button-primary-shadow : -1px -1px 0 darken(@color-primary, 5%);

a[role=button].button-primary, button.button-primary, input[type=submit].button-primary, input[type=reset].button-primary {
	.button_default_properties;
	.button(@button-primary-bg, @button-primary-color, @button-primary-border, @button-primary-shadow);	
	i[class^=fa] {
		color: @color-light;		
	}
}

a[role=button].button-primary:hover, button.button-primary:hover, input[type=submit].button-primary:hover, input[type=reset].button-primary:hover {
	.button_hover(@button-primary-bg, @button-primary-border);
}

a[role=button].button-primary:active, button.button-primary:active, input[type=submit].button-primary:active, input[type=reset].button-primary:active {
	.button_clicked(@button-primary-bg, @button-primary-border);
}


@button-info-bg     : @color-info;
@button-info-color  : @color-light;
@button-info-border : darken(@color-info, 5%);
@button-info-shadow : -1px -1px 0 darken(@color-info, 5%);

a[role=button].button-info, button.button-info, input[type=submit].button-info, input[type=reset].button-info {
	.button_default_properties;
	.button(@button-info-bg, @button-info-color, @button-info-border, @button-info-shadow);	
	i[class^=fa] {
		color: @color-light;		
	}
}

a[role=button].button-info:hover, button.button-info:hover, input[type=submit].button-info:hover, input[type=reset].button-info:hover {
	.button_hover(@button-info-bg, @button-info-border);
}

a[role=button].button-info:active, button.button-info:active, input[type=submit].button-info:active, input[type=reset].button-info:active {
	.button_clicked(@button-info-bg, @button-info-border);
}


@button-success-bg     : @color-success;
@button-success-color  : @color-light;
@button-success-border : darken(@color-success, 5%);
@button-success-shadow : -1px -1px 0 darken(@color-success, 5%);

a[role=button].button-success, button.button-success, input[type=submit].button-success, input[type=reset].button-success {
	.button_default_properties;
	.button(@button-success-bg, @button-success-color, @button-success-border, @button-success-shadow);	
	i[class^=fa] {
		color: @color-light;		
	}
}

a[role=button].button-success:hover, button.button-success:hover, input[type=submit].button-success:hover, input[type=reset].button-success:hover {
	.button_hover(@button-success-bg, @button-success-border);
}

a[role=button].button-success:active, button.button-success:active, input[type=submit].button-success:active, input[type=reset].button-success:active {
	.button_clicked(@button-success-bg, @button-success-border);
}


@button-warning-bg     : @color-warning;
@button-warning-color  : @color-light;
@button-warning-border : darken(@color-warning, 5%);
@button-warning-shadow : -1px -1px 0 darken(@color-warning, 5%);

a[role=button].button-warning, button.button-warning, input[type=submit].button-warning, input[type=reset].button-warning {
	.button_default_properties;
	.button(@button-warning-bg, @button-warning-color, @button-warning-border, @button-warning-shadow);	
	i[class^=fa] {
		color: @color-light;		
	}
}

a[role=button].button-warning:hover, button.button-warning:hover, input[type=submit].button-warning:hover, input[type=reset].button-warning:hover {
	.button_hover(@button-warning-bg, @button-warning-border);
}

a[role=button].button-warning:active, button.button-warning:active, input[type=submit].button-warning:active, input[type=reset].button-warning:active {
	.button_clicked(@button-warning-bg, @button-warning-border);
}



@button-danger-bg     : @color-danger;
@button-danger-color  : @color-light;
@button-danger-border : darken(@color-danger, 5%);
@button-danger-shadow : -1px -1px 0 darken(@color-danger, 5%);

a[role=button].button-danger, button.button-danger, input[type=submit].button-danger, input[type=reset].button-danger {
	.button_default_properties;
	.button(@button-danger-bg, @button-danger-color, @button-danger-border, @button-danger-shadow);	
	i[class^=fa] {
		color: @color-light;		
	}
}

a[role=button].button-danger:hover, button.button-danger:hover, input[type=submit].button-danger:hover, input[type=reset].button-danger:hover {
	.button_hover(@button-danger-bg, @button-danger-border);
}

a[role=button].button-danger:active, button.button-danger:active, input[type=submit].button-danger:active, input[type=reset].button-danger:active {
	.button_clicked(@button-danger-bg, @button-danger-border);
}

.button-split-default(@color) {
	position      : relative;
	padding-right : 45px !important;
	i[class^=fa] {
		color                      : @color !important;
		background                 : rgba(0, 0, 0, 0.05);
		position                   : absolute;
		top                        : -1px;
		right                      : -1px;
		bottom                     : -1px;
		width                      : 35px;
		text-align                 : center;
		border-left                : 1px solid rgba(0, 0, 0, 0.15);
		border-top-right-radius    : @border-radius;
		border-bottom-right-radius : @border-radius;
		padding-top                : 12px;
	}	
}

a.button-split,
.button-split {
	.button-split-default(@color-inverse);
}

.button-primary.button-split {
	.button-split-default(@color-light);
}

.button-success.button-split {
	.button-split-default(@color-light);
}

.button-warning.button-split {
	.button-split-default(@color-light);
}

.button-danger.button-split {
	.button-split-default(@color-light);
}



.button-small {
	padding     : 3px 10px !important;
	font-size   : 13px;
	line-height : 13px;
}

.button-large {
	padding     : 15px !important;
	font-size   : 20px;
	line-height : 20px;
}