
.datepicker {
	
	display                    : inline-block;
	border                     : 1px solid @color-border;
	border-radius              : @border-radius;
	border-bottom-left-radius  : 0;
	border-bottom-right-radius : 0;
	margin-top                 : 10px;
	background-color           : darken(@color-light, 10%);
	box-shadow                 : 0px 10px 15px -5px rgba(0, 0, 0, 0.25);
	box-sizing                 : border-box;
	width                      : 320px !important;

	.datepicker_header {
		
		padding                 : 10px 0px;
		user-select             : none;
		border-bottom           : 1px solid @color-border;
		border-top-left-radius  : 2px;
		border-top-right-radius : 2px;

		.vertical-gradient(@color-light, darken(@color-light, 8%));

		span,
		a {
			user-select : none;
			display     : inline-block;
			margin      : 0px 15px;
			cursor      : pointer;
		}

		span {
			font-weight: bold;
		}

	}

	.datepicker_inner_container {

		border-radius : 0;
		overflow      : hidden;
		clear         : both;


		.datepicker_calendar {

			float         : left;
			width         : 250px;
			background    : @color-light;

			table {

				width        : 100%;

				tr > th {
					border-bottom : 1px solid @color-border;
				}
				tr { 
					th,
					td {
						text-align  : center;
						user-select : none;
						cursor      : pointer;
						span {
							display : block;
							padding : 6px 5px;
							border-radius: @border-radius;
						}
					}
					td.today {
						span {
							background  : @color-info;
							color       : @color-light;
							font-weight : bold;
							text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
						}
					}
					td.wday_sat {
						color:	darken(@color-info, 15%);
					}
					td.wday_sun {
						color:	@color-danger;
					}
					td.day_another_month {
						color  : @color-border;
					}
					td.day_in_past,
					td.day_in_unallowed,
					td.out_of_range {
						cursor : default;
						color  : @color-border;
					}
					td.active {
						span {
							color: @color-light;
							background-color: @color-default-fill;
						}
					}
					td:hover {
						span {
							color: @color-inverse;
							background-color: @color-border;
						}
					}
					td.active:hover {
						span {
							color: @color-light;
							background-color: lighten(@color-default-fill, 10%);
						}
					}
					td.today:hover {
						span {
							color: @color-light;
							background  : lighten(@color-info, 10%);
						}
					}
				}
			}
		}	
		.datepicker_timelist {

			float         : left;
			width         : 67px;
			overflow      : auto;
			overflow-x    : hidden; 
			border-left   : 1px solid @color-border;

			.timelist_item {
				padding       : 5px 8px;
				user-select   : none;
				cursor        : pointer;
			}
			.timelist_item.time_in_past {
				cursor : default;
				color  : @color-border;
			}
			.timelist_item.out_of_range {
				cursor : default;
				color  : @color-border;
			}
			.timelist_item.active {
				color      : @color-light;
				background : @color-default-fill;
			}
			.timelist_item.hover {
				color      : @color-inverse;
				background : @color-border;
			}
		}
	}

}