.drawer {

	.fill(@color-light);
	.border(1px solid @color-border);
	.radius(@border-radius);
	.position(relative);

	min-height    : 5px;
	z-index       : 8000;

	.drawer-toggle {
		.clean-link;
		.position(absolute);
		.padding(5px 10px);
		.text(@color-default);
		right           : 0px;
		top             : 0px;
		* {
			pointer-events:none;
		}
	}
	.drawer-toggle:hover {
		.radius(0 0 @border-radius @border-radius);
	}
	.drawer-toggle:active {
		.text(@color-primary);
	}
	.drawer-content {
		.hidden;
		.padding(20px);
	}
	
	/* Micro Clearfix via CSS-Tricks */
	.drawer-content:before,
	.drawer-content:after {
	    content: "";
	    display: table;
	} 
	.drawer-content:after {
	    clear: both;
	}
	.drawer-content {
	    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
	}	

	.drawer-title.open,
	.drawer-title {
		.text(@color-default);
		.padding(5px 10px);
		.bb(1px solid lighten(@color-border, 15%));
		.prevent-select;
	}
	.drawer-title.close {
		.bb(0);
	}
	.drawer-title > i[class^=fa] {
		.text(@color-default-fill);
	}		
}

.drawer.drawer-inline {
	.border-less;
	.drawer-title,
	.drawer-content {
		.bb(1px solid @color-border);	
	}
}