@input-padding        : 7px;
@input-shadow-inner   : inset 0px 1px 2px rgba(0, 0, 0, 0.075);
@input-shadow-focus   : inset 0px 0px 3px darken(@color-border, 5%);
@input-bottom-margin  : 5px;
@input-select-padding : @input-padding + 1;

select, 
input[type=date]
input[type=email],
input[type=search],
input[type=url],
input[type=text],
input[type=password],
input[type=search] {
	.box-sizing;
	.border(1px solid @color-border; @border-radius);
	font    : @font-size;
	color   : @color-default;
	padding : @input-padding;
	outline : none !important;
}
select {
	font       : @font-size;
	outline    : none !important;	
	padding    : @input-select-padding;
}
textarea {
	font          : @font-size;
	outline       : none !important;	
	border        : 1px solid @color-border;
	border-radius : @border-radius;
	padding       : @input-select-padding;	
}

input[type=date],
input[type=email],
input[type=search],
input[type=url],
input[type=text],
input[type=password],
input[type=search],
select,
textarea {
	box-shadow    : @input-shadow-inner;
	margin-bottom : @input-bottom-margin;
}

input[type=date]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=url]:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=search]:focus,
select:focus,
textarea:focus {
	box-shadow : @input-shadow-focus;
	border     : 1px solid darken(@color-border, 15%);
}


.form {
	label {
		display : block;
		margin  : 0 0 0.5em;
		color   : lighten(@color-default, 25%);
	}
	.control-group {
		margin   : 0 0 0.8em;	
		overflow : hidden;
	}
}

.validation {
	font-weight: bold;
}

.validation.validation-error {
	color: @color-danger;
}

.validation.validation-info {
	color: @color-primary;
}

.validation.validation-warning {
	color: @color-warning;
}

.validation.validation-success {
	color: @color-success;
}