/* Login form local variables */

@form-login-width         : 400px;
@form-login-height        : 240px;  
@form-login-inner-padding : 20px;
@form-login-header-size   : 32px;

/* Login form implementation */
.form-login {
	top           : 50%; 
	left          : 50%;
	width         : @form-login-width;
	display       : block;
	position      : fixed;
	margin-top    : -1 * @form-login-height;
	margin-left   : -1 * @form-login-width / 2;
	.panel {
		position    : relative;
		padding-top : 80px;
		box-shadow  : @box-shadow-large;
		.form-login-header {
			.notice;
			.margin-less;
			top         : -1px;
			right       : -1px;
			left        : -1px;
			display     : block;
			position    : absolute;
			font-weight : normal;
			font-size   : @form-login-header-size;
			small {
				color     : @color-info !important;
				font-size : 60%;
			}
		}
		.panel-content {
			padding : @form-login-inner-padding;
		}
	}
}