.notice_defaults(@background, @foreground) {
	background    : @background;
	box-shadow    : inset 0 1px 1px rgba(0, 0, 0, 0.1);
	padding       : 25px;
	margin        : 25px 0 25px;
	position      : relative;
	border-radius : @border-radius;	
	color         : @foreground;
	text-shadow   : 1px 1px 0px rgba(0, 0, 0, 0.15);
	a[role=button],
	button,
	input[type=submit],
	input[type=reset] {	
		border     : 0px;
		box-shadow : 0px 0px 1px rgba(0, 0, 0, 1);
	}		
}

.notice {
	.notice_defaults(@color-default-fill, @color-light);
	.notice-title {
		font-size   : 18px;
		font-weight : bold;
		margin      : 0 0 0.8em;
	}
	.notice-remove {
		display     : inline-block;
		position    : absolute;
		color       : @color-light;
		top         : 5px;
		right       : 10px;
		text-shadow : 1px 1px rgba(0, 0, 0, 0.25);		
	}

}

.notice.notice-danger {
	.notice_defaults(@color-danger, @color-light);
}

.notice.notice-info {
	.notice_defaults(@color-info, @color-light);
}

.notice.notice-warning {
	.notice_defaults(@color-warning, @color-light);
}

.notice.notice-success {
	.notice_defaults(@color-success, @color-light);
}
