/* Panel local variables */

@panel-title-font-size       : 18px;
@panel-title-default-padding : 15px;
@panel-icon-color            : @color-default-fill;

/* Panel implementation */
.panel {
	
	.fill(@color-light);
	.margin(@widget-margin);
	.border(1px solid @color-border; @border-radius);
	.shadow(@box-shadow, darken(@color-background, 15%));

	.panel-title {

		.bb(1px solid @color-border);
		.text(@color-default);
		.padding(@panel-title-default-padding);
		.position(relative);

		font-size               : @panel-title-font-size;
		border-top-left-radius  : @border-radius - 1;
		border-top-right-radius : @border-radius - 1;

		.panel-controls {

			ul {

				.fill(@color-light);
				.position(absolute);
				.margin-less;
				.padding-less;
				.inline-block;

				top        : 0;
				right      : 0;
				
				li {
					
					.pull-left;
					.clean-list;

					a {
						
						.bl(1px solid @color-border);
						.text(@color-default);
						.padding(@panel-title-default-padding);
						.inline-block;
						.clean-link;

						i[class^=fa] {
							.text(@color-default-fill);
							.margin(0 3px);
							.inline-block;
						}	
					}
					a:hover {
						.fill(lighten(@color-border, 15%));
					}
				}
			}
		}
	}

	.panel-title > i[class^=fa] {
		.text(@color-default-fill);
	}	
  
	.panel-title.small {
		font-size   : @panel-title-font-size - 2;
		.padding(@panel-title-default-padding - 10 @panel-title-default-padding - 5);
		.panel-controls { 
			li a {
				.padding((@panel-title-default-padding - 10)  @panel-title-default-padding);
				i[class^=fa] { 
					font-size: @font-icon-size;
				}
			}
		}
	}
	
	.panel-title.small > i[class^=fa] {
		font-size: @font-icon-size;
	}	


	/* Micro Clearfix via CSS-Tricks */
	.panel-title:before,
	.panel-title:after {
	    content: "";
	    display: table;
	} 
	.panel-title:after {
	    clear: both;
	}
	.panel-title {
	    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
	}


	.panel-footer {
		.clear;
		.border(1px 0 0 0 @color-border);
		.padding(15px);
	}

	.panel-content {
		.padding(15px);
	}		

	.table {
		.margin(0);
	}
}