.panel {
	border        : 1px solid rgba(0, 0, 0, .3);
	border-radius : @border-radius;
	background    : @color-light;
	margin-bottom : 25px;
	box-shadow    : @box-shadow;
	margin-bottom : 25px;
	.panel-title {
		border-bottom : 1px solid @color-border;
		padding       : 15px;
		font-size     : 18px;
		line-height   : 28px !important;
		color         : @color-secondary;
		i.fa {
			color  : @color-default-fill;
		}
		.clear;
	}
	.panel-title.panel-title-small {
		padding     : 10px 15px;
		font-size   : 16px;
		line-height : 16px !important;
	}
	.panel-footer {
		.clear;
		border-top : 1px solid @color-border;
		padding    : 10px;
	}
	.panel-content {
		padding: 15px;
	}		
	.table {
		margin-top: 1px !important;
		margin-bottom: 1px !important;
	}
}