*[data-widget=popover] {
	display  : inline-block;
	position : relative;	
}

.popover-overlay {
	content          : "";
	visibility       : hidden;
	display          : block;
	position         : fixed; /* could also be absolute */
	top              : 0;
	left             : 0;
	height           : 100%;
	width            : 100%;
	z-index          : 9700 !important;
	background-color : rgba(0,0,0,0.25);
}

.popover-overlay.show {
	visibility       : visible;
}

.popover-container {
	display       : none;
	width         : 350px;
	min-height    : 25px;
	position      : absolute;
	border        : 1px solid darken(@color-border, 10%);
	border-radius : @border-radius;
	background    : @color-light;
	box-shadow    : 0px 10px 15px -5px rgba(0, 0, 0, 0.25);
	z-index       : 9700;
	padding       : 20px;
	.popover-close {
		display       : inline-block;
		position      : absolute;
		background    : @color-default-fill;
		color         : @color-light;
		padding       : 5px 7px;
		line-height   : 0;
		top           : -13px;
		right         : -12px;
		z-index       : 10000;
		border-radius : 100%;
	}
	.popover-close:hover {
		background : lighten(@color-inverse, 20%);
	}
}

.popover-container.menu {
	width   : 250px;
	padding : 0px;
}

.popover-menu {
	display    : none;
	visibility : hidden;
	list-style : none;
	margin     : 5px 0px;
	padding    : 0;
	li {
		list-style: none;
		a {
			display         : block;
			padding         : 8px 15px;
			text-decoration : none;
			color           : @color-default;
			overflow        : hidden;
		}
		a:hover {
			background : lighten(@color-default-fill, 25%);
			color      : @color-light;
		}
	}
	li.popover-seperator {
		border-bottom   : 1px solid lighten(@color-border, 25%);
	}
	li:last-child a {
		border: 0;
	}
}


.popover-container.show {
	display: block;
	.popover-menu {
		display    : block;		
		visibility : visible;
	}
}

.popover-container.show:before {
	position      : absolute;
	content       : '';
	left          : 9px;
	top           : -10px;
	border-bottom : 10px solid darken(@color-border, 10%);
	border-left   : 10px solid transparent;
	border-right  : 10px solid transparent;
	z-index       : 8889;
}

.popover-container.show:after {
	position      : absolute;
	content       : '';
	left          : 10px;
	top           : -9px;
	border-bottom : 9px solid @color-light;
	border-left   : 9px solid transparent;
	border-right  : 9px solid transparent;
	z-index       : 8889;
}

.popover-container.tooltip-top-right {
	.popover-close {
		right: auto;
		left: -14px;
	}
}

.popover-container.tooltip-bottom-right {
	.popover-close {
		left: auto;
		right: 5px;
	}
}


.popover-container.tooltip-top-right.show:before {
	left  : auto;
	right : 9px;
}

.popover-container.tooltip-top-right.show:after {
	left  : auto;
	right : 10px;

}

.popover-container.tooltip-bottom-right.show:before {
	top           : auto;
	left          : auto;
	right         : 9px;
	bottom        : -10px;
	border-bottom : 0;
	border-top    : 10px solid darken(@color-border, 10%);
	border-left   : 10px solid transparent;
	border-right  : 10px solid transparent;
}

.popover-container.tooltip-bottom-right.show:after {
	top           : auto;
	left          : auto;
	right         : 10px;
	bottom        : -9px;
	border-bottom : 0;
	border-top    : 9px solid @color-light;
	border-left   : 9px solid transparent;
	border-right  : 9px solid transparent;		
}

.popover-container.tooltip-bottom-left.show:before {
	top           : auto;
	left          : 9px;
	bottom        : -10px;
	border-bottom : 0;
	border-top    : 10px solid darken(@color-border, 10%);
	border-left   : 10px solid transparent;
	border-right  : 10px solid transparent;
}

.popover-container.tooltip-bottom-left.show:after {
	top           : auto;
	left          : 10px;
	bottom        : -9px;
	border-bottom : 0;
	border-top    : 9px solid @color-light;
	border-left   : 9px solid transparent;
	border-right  : 9px solid transparent;		
}