*[data-widget=selectlist],
.selectlist {

	.border(1px solid @color-border);
	.radius(@border-radius);
	.margin(@widget-margin);

	ul {
		
		.clean-list;
		.radius(@border-radius);

		height        : 250px;
		overflow-y    : auto;
		overflow-x    : none;

		li {
			a {
				
				.block;
				.relative;
				.clean-link;
				.prevent-select;
				.padding(10px 15px);
				.text(@color-default);
				.bb(1px solid lighten(@color-border, 5%));
				
				font: @font-size;

			}
			a:before {

				.absolute;
				.inline-block;
				.border(1px solid @color-border, 100%);

				width         : 22px;
				height        : 22px;
				bottom        : 10px;
				top           : 10px;
				right         : 10px;
				content       : '';
			}
			a:hover {
				.fill(@color-stripes);
			}
			a.checked {
				.fill(darken(@color-stripes, 5%));
			}
			a.checked:before {
				.fill(@color-primary);
				.border(1px solid darken(@color-primary, 15%), 100%);
			}
			a.checked:after {
				.absolute;
				.inline-block;
				.text(@color-light, 1px 1px 1px darken(@color-info, 5%));
				.radius(100%);
				width       : 20px;
				bottom      : 10px;
				top         : 11px;
				right       : 9px;
				content     : '\f00c';
				font-family : Fontawesome;
			}		

			a.multi:before {
				.radius(@border-radius);
			}
			a.multi.checked:after {
				.radius(@border-radius);	
			}

		}
	}
}