
.tabs {
	list-style              : none;
	margin                  : 0;
	padding                 : 15px 0 0 15px;
	display                 : block;
	border-bottom           : 1px solid @color-border;
	border-top-left-radius  : @border-radius - 1;
	border-top-right-radius : @border-radius - 1;	
	background              : lighten(@color-border, 10%);
	.center-text;
	li {
		float   : left;
		display : inline-block;
		a {
			position                : relative;
			display                 : inline-block;
			padding                 : 8px 20px;
			text-decoration         : none;
			margin-right            : 5px;
			color                   : lighten(@color-default, 25%);
			border-top-left-radius  : @border-radius;
			border-top-right-radius : @border-radius;
			border-top              : 1px solid @color-border;
			border-left             : 1px solid @color-border;
			border-right            : 1px solid @color-border;
			text-shadow             : 1px 1px 0px lighten(@color-border, 30%);
			* {
				pointer-events: none;
			}
		}
		a:hover {
			background : lighten(@color-border, 25%);
			color      : @color-primary;
		}
	}
	li.active a {
		color      : @color-default-fill;
		background : @color-light;
	}
}

/* Micro Clearfix via CSS-Tricks */
.tabs:before,
.tabs:after {
    content: "";
    display: table;
} 
.tabs:after {
    clear: both;
}
.tabs {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}


.tabs.tabs-simple {
	background : none;
	margin     : 0;
	padding    : 0;
	li {
		a {
			position     : relative;
			margin-right : 0;
			border       : 0;
			border-right : 1px solid @color-border;
		}
		a:hover {
			background : lighten(@color-border, 25%);
			color      : @color-primary;
		}
	}
	li.active a {
		background :lighten(@color-border, 15%);
		color      : @color-primary;
	}
}

.tab-container {
	margin        : 0 0 25px;
	border        : 1px solid @color-border;
	border-radius : @border-radius;
	box-shadow    : @box-shadow;		
	.tab-content {
		background                 : @color-light;
		border-bottom-left-radius  : @border-radius - 1;
		border-bottom-right-radius : @border-radius - 1;	
		padding                    : 20px;
		display                    : none;
	}
}