
.tabs {
	.block;
	.margin-less;
	.center-text;
	.padding(15px 0 0 15px);
	.fill(lighten(@color-border, 10%));
	.bb(1px solid @color-border);

	list-style              : none;
	border-top-left-radius  : @border-radius - 1;
	border-top-right-radius : @border-radius - 1;	

	li {
		.pull-left;
		.inline-block;
		a {
			.relative;
			.clean-link;
			.inline-block;
			.padding(8px 20px);
			.margin(0 5px 0);
			.text(@color-default, 1px 1px 0px lighten(@color-background, 30%));
			.bt(1px solid @color-border);
			.bl(1px solid @color-border);
			.br(1px solid @color-border);
			border-top-left-radius  : @border-radius;
			border-top-right-radius : @border-radius;
			* {
				pointer-events: none;
			}
		}
		a:hover {
			.fill(lighten(@color-border, 25%));
			.text(@color-primary);
		}
	}
	li.active a {
		.text(@color-default-fill);
		.fill(@color-light);
	}
}

/* Micro Clearfix via CSS-Tricks */
.tabs:before,
.tabs:after {
    content: "";
    display: table;
} 
.tabs:after {
    clear: both;
}
.tabs {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.tabs.tabs-simple {
	.no-fill;
	.margin-less;
	.padding-less;
	li {
		a {
			.margin-less;
			.border-less;
			.br(1px solid @color-border);
		}
		a:hover {
			.fill(lighten(@color-border, 25%));
			.text(@color-primary);
		}
	}
	li.active a {
		.fill(lighten(@color-border, 15%));
		.text(@color-primary);
	}
}

.tab-container {
	.margin(0 0 25px);
	.border(1px solid @color-border);
	.radius(@border-radius);
	.shadow(@box-shadow, darken(@color-background, 15%));
	.fill(@color-light);
	.tab-content {
		.hidden;
		.padding(20px);
		border-bottom-left-radius  : @border-radius - 1;
		border-bottom-right-radius : @border-radius - 1;	
	}
}