// @color-primary      : #485b71;
// @color-secondary    : #507493;
// @color-default      : #303333;
// @color-links        : #3584c9;
// @color-light        : #ffffff;
// @color-inverse      : #333333;

// @color-default-fill : #e6f2f2;
// @color-info         : #70b9c6;
// @color-danger       : #ee4242;
// @color-warning      : #f1bd4d;
// @color-success      : #1ee271;
// @color-inverse      : #494949;

@color-primary      : #2f87c1; //#616161;
@color-secondary    : #507493;
@color-default      : #666666;
@color-links        : #3584c9;
@color-light        : #ffffff;
@color-inverse      : #333333;

@color-default-fill : #574979;
@color-info         : #0fc985;
@color-danger       : #ff534b;
@color-warning      : #faa62d;
@color-success      : #5bb12f;
@color-inverse      : #222222;
@color-a            : #d1d8e5;
@color-stripes      : #f5f7fa;
@color-background   : #eceff3;

@widget-margin      : 0 0 25px;
@color-border       : darken(@color-a, 5%);
@font-icon-size     : 14px;

@border-radius      : 0px;
@font-size          : 300 14px/22px 'Noto Sans','Open Sans', arial !important;

@box-shadow         : 0px 3px 3px -2px;
@box-shadow-large   : 1px 5px 25px -5px;
@box-shadow-tight   : 1px 1px 2px -1px;

.color-primary {
	color: @color-primary;
}

.color-success {
	color: @color-success;
}

.color-danger {
	color: @color-danger;
}

.color-info {
	color: @color-info;
}

.color-light {
	color: @color-light;
}

.color-default {
	color: @color-default;
}

.color-warning {
	color: @color-warning;
}