// @color-primary      : #485b71;
// @color-secondary    : #507493;
// @color-default      : #303333;
// @color-links        : #3584c9;
// @color-light        : #ffffff;
// @color-inverse      : #333333;

// @color-default-fill : #e6f2f2;
// @color-info         : #70b9c6;
// @color-danger       : #ee4242;
// @color-warning      : #f1bd4d;
// @color-success      : #1ee271;
// @color-inverse      : #494949;

@color-primary      : #616161;
@color-secondary    : #507493;
@color-default      : #303333;
@color-links        : #3584c9;
@color-light        : #ffffff;
@color-inverse      : #333333;

@color-default-fill : #574979;
@color-info         : #0fc985;
@color-danger       : #ff534b;
@color-warning      : #faa62d;
@color-success      : #5bb12f;
@color-inverse      : #222222;

@color-border       : lighten(@color-default, 50%);

@border-radius      : 0px;

@box-shadow : 1px 1px 5px rgba(0, 0, 0, 0.15);
@box-shadow-large: 1px 1px 15px rgba(0, 0, 0, 0.15);
@box-shadow-tight: 1px 1px 3px rgba(0, 0, 0, 0.15);

.color-primary {
	color: @color-primary;
}

.color-success {
	color: @color-success;
}

.color-danger {
	color: @color-danger;
}

.color-info {
	color: @color-info;
}

.color-light {
	color: @color-light;
}

.color-default {
	color: @color-default;
}

.color-warning {
	color: @color-warning;
}

.text-shadow {
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
}